-- for more information refer to the documentation.
-- https://wezfurlong.org/wezterm/index.html

local wezterm = require 'wezterm'
local act = wezterm.action
local mux = wezterm.mux

wezterm.on('gui-startup', function(cmd)
  local tab, pane, window = mux.spawn_window(cmd or {})
  window:gui_window():maximize()
end)


return {
    -- setup color scheme
    enable_wayland = false,
    color_scheme_dirs = {'/home/{{ default_user }}/.config/wezterm/color/tokyonight/'},
    color_scheme = 'tokyonight_moon',
    font_size = 26.0,
    -- setup terminal background image
    -- the problem with this background image is that the majority of it is
    -- transparent and really screws up the look. I may want to so this later
    -- with a different image.
    -- window_background_image = '/home/{{ default_user }}/Pictures/logo-cyber-ninja/YOJIMBOVERTICALDRACULA.png',
    -- setup tab bar
    hide_tab_bar_if_only_one_tab = true,
    -- setup key bindings
    keys = {
        { key = 'l', mods = 'ALT|SHIFT', action = act.ActivateTabRelative(1) },
        { key = 'h', mods = 'ALT|SHIFT', action = act.ActivateTabRelative(-1) }

    },
    default_prog ={'/home/{{ default_user }}/.cargo/bin/zellij'},
}
